/* items and images */
.navbar {
  width: 100%;
  padding: 1.5rem 2.5rem 1.15rem;
  box-sizing: border-box;
  background-color: var(--heading-color);
  margin-bottom: 40px;

  & ul {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-end;
  }

  & .logo {
    font-weight: bold;
    color: var(--text-color);
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 1.25rem;
  }

  & .icon {
    font-size: 2.5rem;
    margin-right: 0.5rem;
  }

  & a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    padding-bottom: 2.5px;
  }

  & .hover-underline:hover {
    text-decoration: 2px rgb(240, 240, 240) underline;
  }
}