.user-list {
  width: 200px;
  min-width: 200px;
  padding: 25px;
  box-sizing: border-box;
  background-color: var(--highlight-color);
  color: var(--text-color);

  & h2 {
    text-align: center;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 33px;
    margin-bottom: 40px;
    font-size: 1.2em;
  }
}

.status {
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

.online {
  background-color: rgb(56, 170, 56);
}

.offline {
  background-color: rgb(219, 38, 38);
}

.people {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75em;
  font-weight: 500;

  & img {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--text-color)
  }

  & .person-details {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}