.sidebar {
  width: 15rem;
  min-width: 15rem;
  background-color: var(--highlight-color);
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: var(--text-color);

  & .sidebar-content {
    position: fixed;
    width: inherit;
  }

  & .user {
    text-align: center;
    letter-spacing: 1px;
    padding: 38px 1px;
  }

  & .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  & .links {
    margin-top: 25px;
    margin-left: 40px;

    & li {
      margin-top: 10px;
    }

    & a {
      display: flex;
      padding: 10px 15px;
      text-decoration: none;
      width: 100%;
      color: var(--text-color);
      box-sizing: border-box;
      margin-top: 10px;
      gap: 15px;
      align-items: center;
    }

    & a.active {
      color: var(--highlight-color);
      background-color: var(--bg-color);
      border-radius: 20px 0 0 20px;
    }
  }

  & img {
    border-radius: 100%;
    height: 62px;
    width: 62px;
    object-fit: cover;
    border: 2px solid var(--text-color);
    background-color: var(--primary-color);
  }
}