.projects {
  width: 50%;
  display: grid;
}

.project-card {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid gray;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.assigned {
  color: gray;
}

hr {
  margin: 10px auto;
}